{% extends 'frontpages/front_layout.html.twig' %}

{% block pagecontent %}
	<div class="page-content-product">
		<div class="main-product">
			<div class="container">
				<div class="row clearfix">
					<div class="find-box">
						<h1>GANADERAS DEL SUR.</h1>
						<h4>DESDE 1913 ACOMPAÑANDO AL PRODUCTOR AGROPECUARIO.</h4>
						<div class="product-sh">
							<div class="col-sm-6">
								<div class="form-sh">
									<input id="searchText" type="text" placeholder="Busqueda de cabañas por nombre">
								</div>
							</div>
							{# <div class="col-sm-3">
								<div class="form-sh">
									<select class="selectpicker">
										<option>Textiles</option>
										<option>Furniture</option>
										<option>Leather</option>
									</select>
								</div>
							</div> #}
							<div class="col-sm-3">
								<div class="form-sh">
									<a id="cabanaSearch" class="btn" href="#">Buscar</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="row clearfix">

					{% for cabana in cabanas %}

						<div class="col-lg-3 col-sm-6 col-md-3">
							<a href="{{ path('cabana_detail', {'urlsegment': cabana.urlsegment}) }}">
								<div class="box-img">
									<h4>{{ cabana.nombre }}</h4>
									<img src="{{ asset('uploads/Cabana/Gallery/gallery/' ~ cabana.gallery | first) }}" alt="{{cabana.nombre}}" title="{{cabana.nombre}}"/>
								</div>
							</a>
						</div>
					{% endfor %}

					<div class="categories_link">
						<a href="{{ path('cabanas_index', {'nombre': ''}) }}">Mostrar todas las cabañas</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
  {% block customjavascripts %}
  <script>
     $('#cabanaSearch').click(function(){
     var name = $('#searchText').val();
     var url = Routing.generate('cabanas_index', {nombre: name})
     window.location.href = url;

   });
   </script>
  
  {% endblock %}