{% extends 'frontpages/front_layout.html.twig' %}

{% block customstyles %}
	<style></style>
{% endblock %}
{% block pagecontent %}

	<div class="product-profile-box">
		<div class="container">
			<div class="row">

				<div class="col-md-10 col-sm-8">
					<div class="profile-pro-right">
						<div class="panel with-nav-tabs panel-default">
							<div class="panel-heading clearfix">
								<ul class="nav nav-tabs pull-left">
									<li class="active">
										<a href="#tab1default" data-toggle="tab">
											<span id="countholder">{{ lotes| length }}</span>
											Lotes
										</a>
									</li>
								</ul>
								<ul class="nav nav-tabs pull-right right-t">
									<li class="dropdown">
										<form>
											<select id="razasfilter" class="selectpicker">
												<option value="-1">Todas las razas</option>
												{% for r in razas %}
													<option value={{r.id}}>{{r.nombre}}</option>
												{% endfor %}
											</select>
										</form>
									</li>
									<li class="dropdown">
										<form>
											<select id="categoriasfilter" class="selectpicker">
												<option value="-1">Todas las categorías</option>
												{% for c in categorias %}
													<option value={{c.id}}>{{c.nombre}}</option>
												{% endfor %}
											</select>
										</form>
									</li>
									<li class="dropdown">
										<form>
											<select id="cabanasfilter" class="selectpicker">
												<option value="-1">Todas las cabañas</option>
												{% for c in cabanas %}
													<option value={{c.id}}>{{c.nombre}}</option>
												{% endfor %}
											</select>
										</form>
									</li>
								</ul>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab1default">
										<div id="lotescontainer" class="product-box-main row">

											{% for lote in lotes %}
												<div class="col-md-4 col-sm-6">
													<div class="small-box-c">
														<div class="small-img-b">
															{% if lote.gallery|length > 0 %}
																<a href="{{ path('lote_detail', {'id': lote.id }) }}"><img src="{{ asset('uploads/Lote/gallery/' ~ lote.gallery|first ) }}" alt="#"/></a>
															{% else %}
																<a href="{{ path('lote_detail', {'id': lote.id }) }}"><img src="{{ asset('uploads/genericsimages/bullsilhouette.jpg') }}" alt="#"/></a>
															{% endif %}
														</div>
														<div class="dit-t clearfix">
															<div class="left-ti">
																<h4>{{ lote.nombre }}</h4>
																<p>
																
																	{% if lote.cabana is not null %}
																	
																		<a class="cabanaclass" href="{{ path('cabana_detail', {'urlsegment': lote.cabana.urlsegment }) }}">
																			<span>{{ lote.cabana.nombre }}</span>
																		</a>
																		{% else %}
																		<span>NO ASIGNADO</span>
																	{% endif %}
																</p>
															</div>
														</div>
														
															<div>
																<p style="height:54px"> 
															     {{ lote.OferTextInfo|raw }}
																</p>
															
																</div>
														<div class="prod-btn">
															<a href="{{ path('lote_detail', {'id': lote.id }) }}">
																<i class="" aria-hidden="true"></i>
																Hacer Pre-Oferta</a>

														</div>
													</div>
												</div>
											{% endfor %}

										</div>
										<div
											class="loding-box">{# <a href="#">
																																				<div class="sk-wave">
																																					<div class="sk-rect sk-rect1"></div>
																																					<div class="sk-rect sk-rect2"></div>
																																					<div class="sk-rect sk-rect3"></div>
																																					<div class="sk-rect sk-rect4"></div>
																																					<div class="sk-rect sk-rect5"></div>
																																				</div>
																																				<span>Loding more awesome products...</span>
																																			</a> #}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block customjavascripts %}{% endblock %}
