{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block page_title %} Toro {% endblock %}
{% block page_subtitle %}  Eliminar {% endblock %}

{% block page_content_before %}
  
  <div class="marker">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ toro.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ toro.Nombre }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ toro.info }}</td>
            </tr>
            <tr>
                <th>Videos</th>
                <td>{{ toro.videos }}</td>
            </tr>
            <tr>
                <th>Galleria</th>
                
              
                 {% for  g in toro.gallery %}
                  <td>              
                  
                     {% if  'cropped' in g %}
                    <img src="{{ asset( 'uploads/Toro/gallery/' ~ g|split('/')[0] ~'/thumbnails/150x150-' ~ g|split('/')[1] ) }}"/>
                    {% else %}
                     <img src="{{ asset( 'uploads/Toro/gallery/thumbnails/' ~ g ) }}"/>
                    {% endif %}
                   </td>
                 {% endfor %}
              
            </tr>
        </tbody>
    </table>

    <a href="{{ path('toro_index') }}">back to list</a>

    <a href="{{ path('toro_edit', {'id': toro.id}) }}">edit</a>

    {{ include('toro/_delete_form.html.twig') }}
    </div>
{% endblock %}
